<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Proxy Bay</title>
</head>


<body id="bodie">
    <div id="htext">

    <img class="image" src="static/Logo.jpeg" alt="Logo, Use your Imagination" width="350px" height="350px">

    </div>

    <div id="RedditProxy">
    <form action="/RedditProxy" method="post">
        RedditProxy<input type="checkbox" name="RedditProxy" />
        <input type="submit" name= "form" value="Submit" />
    </form>
    </div>


</body>

<style>

    #RedditProxy{
        margin: auto;
        text-align: center;
    }


    #htext{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
    };
    img.image{
        display: grid;
        place-items: center;
    };
    body{ 
        display: grid;
        place-items: center;
    };
</style>

</html>