<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiddeR</title>
</head>

<script>
    
</script>
<center>
<body>
    <img src="static/tiddeR.png" alt="tiddeR logo, just imagine the reddit logo, but the colors are flipped." width="350px" height="350px"> 
    <form action="/RedditSub">
        <b><h2 class="h3">WARNING: DO NOT PUT THE /r/ OR r/ IN FRONT OF SUBREDDIT IT WILL NOT WORK</h2></b>
        <div>
            <label>Enter Subreddit:</label>
            <input type="text" name="RedditSub" placeholder="Enter Subreddit Here">
        </div>
    <div id="table">
            <h1>Popular Subreddits:</h1>
                <li>Dankmemes</li>
                    <li>Shitposting</li>
                        <li>OkBuddyRetard</li>
                            <li>Funny</li>
                                <li>Public Freakout</li>
                                    <li>MildlyInteresting</li>
                                        <li> Memes</li>
                                            <li>AskReddit</li>
                                                <li>Pics</li>
                                                    <li>IdiotsInCars</li>
                                                        <li>Unexpected</li>
                                                            <li>Music</li>
                                                                <li>WallStreetBets</li>
        </div>
</form>    
</body>
</center>
<style>
    h2.h3{
        font-family: 'Courier New', Courier, monospace;
        color:  orange;
    }
    #table{
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin: auto; 
    }
</style>

</html>